@import '../../styles/utils/mixins.scss';

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 5%;

    border-bottom: 2px solid rgba($color: #000000, $alpha: .2);

    h1 {
        font-weight: 600;
        color: var(--primary)
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            position: relative;
            color: #fff;
            & + a {
                @include separator;
            }
        }
    }
}