.cardAnimeContainer {
    max-width: 200px;
    margin-left: 8px;
    img {
        max-width: 200px;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}